priority -49


snippet b "Test bold" b
\textbf{${1:${VISUAL:contents}}} $0
endsnippet

snippet e "emphasize text" b
\emph{${1:${VISUAL:contents}}} $0
endsnippet

snippet it "emphasize text" b
\textit{${1:${VISUAL:contents}}} $0
endsnippet

snippet cr "red text" b
\textcolor{red}{${1:${VISUAL:contents}}} $0
endsnippet

snippet i "item" b
\item $0
endsnippet
